pytest==7.4.4
pytest-html==4.0.2
pytest-xdist==3.3.1
pytest-rerunfailures==12.0
pytest-json-report
requests==2.31.0
openpyxl==3.1.2
python-dotenv==1.0.0
allure-pytest==2.13.2
pymysql==1.1.0
loguru==0.7.2
pycryptodome==3.19.0
email-validator==2.0.0
usdf==2.0